
body
{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/background.png);
  box-sizing: border-box;
  height: 100vh;
}
.container
{
    height:100vh;
    width:100%;
    background-position: center;
    background-size: cover;
    padding-left: 80px;
    padding-right:30%;
    
    position : relative;
}
.navbar
{
width:100%;
height:30vh;
margin-left: auto;
display:flex;
align-items:center;
}
.navbar h1
{
    font-size: 300% ;
    cursor:pointer;
    padding:20px;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  outline: black;
  color:plum;
}
.navbar h1:hover {
    font-variation-settings: "wght" 582; 
    letter-spacing: 5px;
  }
.logo
{
    width:145px;
    cursor: crosshair;
}
span
{
    margin-left: 150px;
}
.center {
    position:sticky;
    padding: 30px 30px;
    background: lightcyan;
    border-radius: 50px;
    margin-left: 280px;
  }
  
  .center .inputbox {
    position: relative;
    width: 300px;
    height: 50px;
    margin-bottom: 50px;
  }
  .center .inputbox input {
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid plum;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 50px;
    font-size: 1.2em;
    margin-left: 165px;
  }
  .center .inputbox:last-child {
    margin-bottom: 0;
  }
  .center .inputbox span {
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 1em;
    transition: 0.6s;
    font-family: sans-serif;
    color: plum;
  }
  .center .inputbox input:hover ~ span,
  .center .inputbox input:valid ~ span {
    transform: translateX(-13px) translateY(-35px);
    font-size: 1em;
  }

 textarea
 {
    margin-left: 160px;
    border-radius: 50px;
    border: 2px solid plum;
    outline: none;
    background: none;
    padding: 10px;
    font-size: 1.2em;
    width: 300px;
    height : 50px;
    resize: none;
    cursor:text;

 }
button
{
    --c: plum;
     
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background: 
      var(--_g) calc(var(--_p,0%) - 100%) 0%,
      var(--_g) calc(200% - var(--_p,0%)) 0%,
      var(--_g) calc(var(--_p,0%) - 100%) 100%,
      var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
}
button:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
  }
  button:active {
    background-color: var(--c);
    color: plum;
  }
  button
  {
    font-family: system-ui, sans-serif;
  font-size: 3.5rem;
  cursor: pointer;
  padding: .1em .6em;
  font-weight: bold;  
  border-radius: 50px;
  font-size:20px;
  margin-left: 200px;
  }